.login-page {
    height: 100vh;
    /* background-repeat: no-repeat,repeat; */
    /* background-position: center; */
    /* background-size:auto; */
    background-image: url(https://www.colorado.edu/today/sites/default/files/styles/large_wide_thumbnail/public/callout/alder_fire_yellowstone.jpg?itok=Awq-1wOQ);
}

.login-conainer {
    /* display: flex; */
    margin: auto;
    max-width: 1140px;
    height: 100%;
    /* padding: 20px 0px; */
    overflow: hidden;
    /* align-items: center; */
}

.login-details {
    background-color: rgba(250, 235, 215, 0.596);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    margin-bottom: 100px ;      
    /* background-size: 50px 20px; */
    flex-wrap: wrap;
    height: 100%;
}

.login-heading {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100%;
    border-right: 5px solid red;
    text-align: center;
}

.login-heading h1 {
    font-size: 2rem;
    letter-spacing: .3cm;
    color: #ff0101;
    font-family: 'Courier New', Courier, monospace;
    line-height: normal;
    text-transform: uppercase;

}

.login-form {
    display: flex;
    width: 48%;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* align-items: center; */
    box-sizing: border-box;
}

.login-form h1 {
    /* align-items: flex-start; */
    color: #ff0101;
}

.login-form-container {
    width: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */

}

.form-group {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 12px;
}

.input-control {
    height: 30px;
    padding: 2px 20px;
}

@media screen and (max-width: 700px) {
    .login-heading h1 {
        font-size: 2rem;
        color: #ff0101;
        text-transform: uppercase;

    }
}

@media screen and (max-width: 450px) {
    .login-heading h1 {
        font-size: 1rem;
        color: #ff0101;
        text-transform: uppercase;

    }
}